<!DOCTYPE html>
<html lang='en' data-ng-app="app">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Asssembla Options</title>
		<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" href="css/font-awesome.min.css" rel="stylesheet">
		<!--link type="text/css" href="css/bootstrap-theme.min.css" rel="stylesheet"-->
		<link href="assembla.css" rel="stylesheet" media="screen">
	</head>
	<body data-ng-controller="assemblaOptionsController as vm" style="width:800px">
		<div class="container-fluid">
			<br/>
			<small><small>v{{vm.manifest.version}}</small></small>
			<div class="row">
		    <form class="form-horizontal">
		      <div class="form-group">
		        <label for="apiKey" class="col-sm-4 control-label">Assembla API Key</label>
		        <div class="col-sm-6">
		          <input type="text" class="form-control"
								ng-model-options="{debounce:1000}" id="apiKey" ng-model="vm.options.key" placeholder="- api key -"  ng-change="vm.change()" title="api key from assemblas website">
		        </div>
						<div class="col-sm-2 control-label">
							<a href="https://app.assembla.com/user/edit/manage_clients">check here</a>
						</div>
		      </div>
		      <div class="form-group">
		        <label for="apiSecret" class="col-sm-4 control-label">Assembla API Secret</label>
		        <div class="col-sm-6">
		          <input type="text" class="form-control" id="apiSecret" ng-model-options="{debounce:1000}" ng-model="vm.options.secret" placeholder="- api secret -" ng-change="vm.change()" title="api secret from Assemblas website">
		        </div>
		      </div>
		      <div class="form-group">
		        <label for="mentionsWatchInterval" class="col-sm-4 control-label">Mentions Watch Interval</label>
		        <div class="col-sm-6">
		          <input type="text" class="form-control" id="mentionsWatchInterval"
				ng-model-options="{debounce:1000}"  ng-change="vm.change()"
				ng-model="vm.options.mentionWatchInterval" placeholder="60000" title="Amount of time between api calls to check for changes in the mentions">
		        </div>
		      </div>
		      <div class="form-group">
		        <label for="elapsedTimeInterval" class="col-sm-4 control-label">Elapsed Time Update Interval</label>
		        <div class="col-sm-6">
		          <input type="text" class="form-control" id="elapsedTimeInterval"
				ng-model-options="{debounce:1000}"  ng-change="vm.change()"
				ng-model="vm.options.elapsedTimeInterval" placeholder="1000" title="Amount of time between showing updates to the amount of time since the last successful refresh of the mention data">
		        </div>
		      </div>
					<br />
					<div class="row vertical-bottom">
		        <label for="hideEmptyBadge" class="col-sm-4 text-right">Hide badge if 0</label>
		        <div class="col-sm-6">
		          <span class="fa fa-lg" id="hideEmptyBadge" ng-class="'fa-toggle-' + (vm.options.hideEmptyBadge ? 'on' : 'off')" ng-click="vm.options.hideEmptyBadge=!vm.options.hideEmptyBadge; vm.change()" title="'ON' if you want the badge to disappear when there are no mentions, otherwise a grey badge will appear with 0 in the text">
							</span>
		        </div>
		      </div>
					<div class="row vertical-bottom">
		        <label for="autoRead" class="col-sm-4 text-right">Mark Read on Navigation</label>
		        <div class="col-sm-6">
		          <span class="fa fa-lg" id="autoRead" ng-class="'fa-toggle-' + (vm.options.autoRead ? 'on' : 'off')" ng-click="vm.options.autoRead=!vm.options.autoRead; vm.change()"  title="Mark a mention as read if you click to navigate to it">
							</span>
		        </div>
		      </div>
				</form>
			</div>
			<div class="row">
				<div class="col-sm-12">
		      <div class="alert" data-ng-class="vm.status.style">
		        {{vm.status.msg}}
		      </div>
				</div>
			</div>
	 	</div>
	    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script-->
		<script src="js/jquery-2.0.3.min.js"></script>
		<script src="js/angular.min.js" charset="utf-8"></script>
		<script src="assemblaOptionsMain.js" charset="utf-8"></script>
		<script src="assemblaOptionsService.js" charset="utf-8"></script>
	  <script src="assemblaOptionsController.js" charset="utf-8"></script>

	  </body>
</html>
