<html style="min-width:720px; padding-left:0px;">
<head>
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
	<link href="css/assembla.css" rel="stylesheet" media="screen">
</head>
<body ng-app="app" style="padding-left:25px">
	<div ng-controller="popupController as pu">
		<div class="container-fluid">
			<!-- Title-->
			<div class="row vertical-center">
				<div class="col-xs-5 text-left">
					<h4>
						<img src = "AssemblaShield-oaf2-48.png" alt="Icon" height="20" width = "20">
						Assembla Mentions/1AF
						<small><small>
							v{{pu.manifest.version}}
						</small></small>
					</h4>
				</div>
				<div class="col-xs-4 text-right">
					<small>
						<small>last updated: <strong>{{pu.getElapsedTime()}}</strong></small>
					</small>
				</div>
				<div class="col-xs-3">
					<span class="btn-toolbar btn-toolbar-xs">
						<span class="btn-group btn-group-xs">
							<button type="button" class="btn btn-xs btn-default" title="Show unread mentions" ng-class="{'btn-primary':pu.bgPage.showUnread}" ng-click="pu.toggleMentionType('showUnread')">
								<span class="fa fa-envelope-o"></span>
							</button>
							<button type="button" class="btn btn-xs btn-default" title="Show read mentions" ng-class="{'btn-primary':pu.bgPage.showRead}" ng-click="pu.toggleMentionType('showRead')">
								<span class="fa fa-envelope-open-o"></span>
							</button>
						</span>
						<span class="btn-group btn-group-xs">
							<button type="button" class="btn btn-xs btn-default" title="Options page" ng-click="pu.openOptions()">
								<span class="fa fa-gears"></span>
							</button>
							<button type="button" class="btn btn-xs btn-default" title="Refresh Mentions" ng-click="pu.refresh()">
								<span class="fa fa-refresh" ng-class="{'fa-spin':pu.isRefreshing}"></span>
							</button>
							<button type="button" class="btn btn-xs btn-default" title="Toggle auto-updates" ng-click="pu.toggleApiUpdates()" ng-class="{'active': pu.bgPage.isPaused()}">
								<span class="fa fa-minus-circle" ng-class="{'text-danger': pu.bgPage.isPaused()}">
								</span>
							</button>
						</span>
					</span>
				</div>
			</div>
				<!-- Table -->
			<div class="row table">
				<div class="col-xs-12">
					<!-- table head -->
					<div class="row table-head">
						<div class="col-xs-1">By</div>
						<div class="col-xs-2">Date</div>
						<div class="col-xs-8">Message</div>
						<div class="col-xs-1"></div>
					</div>
					<!-- Table Data -->
					<div class="row table-row" ng-repeat="m in pu.userMentions" ng-click="pu.gotoUrl(m)">
							<div class="col-xs-1" ng-attr-title="{{m.author_id | authorName: pu.bgPage.users}}" ng-class="{transparent:m.isBeingDeleted}">
								<small>{{m.author_id | authorInitials: pu.bgPage.users}}</small>
							</div>
							<div class="col-xs-2" ng-attr-title="{{m.created_at | date: 'yyyy'}}" ng-class="{transparent:m.isBeingDeleted}">
								<small><small>{{m.created_at  | date: 'MM-dd hh:mm'}}</small></small>
							</div>
							<div class="col-xs-8" ng-class="{transparent:m.isBeingDeleted}">
								<small>{{m.message}}</small>
							</div>
							<div class="col-xs-1">
								<button type="button" class="close blur-hide" prevent-default ng-click="pu.markAsRead(m)"  ng-if="!m.isBeingDeleted && !m.read">
									<span aria-hidden="true">&times;</span>
								</button>
								<span class="fa fa-spinner fa-spin" ng-if="m.isBeingDeleted" prevent-default ng-click="pu.markAsRead(m)">
								</span>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/angular.min.js" charset="utf-8"></script>
	<script src="assemblaPopupMain.js" charset="utf-8"></script>
	<script src="assemblaPopupController.js"></script>
</body>
</html>
